*
body, html {
    height: 100%;
    margin: 0;
	padding:0;
    color: #fff;
	background:#fff;
	overflow:hidden;
	font-family:Galvji;
}

.bg-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul, li{
	margin:0;
	padding:0;
	list-style:none;}
	
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 20px;
    right: 275px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
 /* Tooltip */
 .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/*.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
li.tooltip.ttp-top span {
    bottom: -50px;
}
span#shareLink {
    left: -140px;
    bottom: -70px;
}
a#share-file img {
    float: left;
}
a#share-file span {
    color: #000;
    font-size: 16px;
    padding: 5px 0 0 10px;
    float: left;
    pointer:cursor;
}   

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}	

/*.bg{
	background: url(../images/bg.jpg) no-repeat fixed;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
	 -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	float: left;
    width: 100%;
	
  }
	*/
.container{
	padding:30px 20px;}	
	
img.shadow {
    position:fixed;
}

header {
    position: relative;
    z-index: 999;
}
header:before {
    content: "";
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgb(0,0,0) !important;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(6,6,6,1) 0%, rgba(0,212,255,0) 100%) !important;
}





.logo {
    display: inline-block;
    position:relative;
}

.online {
    width: 60%;
    text-align: center;
    display: inline-block;
	font-size:11px;
}	

.online span {
    margin: 0 20px;
	position:relative;
}

.online span img {
    vertical-align: bottom;
    position: relative;
}

.online span sup {
    font-size: 14px;
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 7px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 22px;
    left: 30px;
}

.top-icons {
    display: inline-block;
    float: right;
    width: 17%;
    margin-top: 22px;
}

.top-icons ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.mid {
    float: left;
    width: 100%;
	margin:4% 0 0;
}

.mid-rt ul li {
    float:left;
    margin: 0 0 10px 10px;
}

.mid-rt {
    width: 13%;
    float: right;
	position:relative;
}

.mid-rt ul li img {
    width:65px;
}

.participantCollector {
    background: #fff;
    z-index: 999;
    position: absolute;
    left: 33%;
    border-radius: 4px;
    width: 30%;
    height: 15%;
    top: 24%;
}
.securityDetails {
    background: #fff;
    z-index: 999;
    position: absolute;
    right: 15%;
    border-radius: 4px;
    width: auto;
    height: auto;
    bottom: 8%;
    color: #000;
    padding: 5px 5px;
    word-wrap: anywhere;
}
.roomDetails {
    background: #fff;
    z-index: 999;
    position: absolute;
    right: 15%;
    border-radius: 4px;
    width: auto;
    height: auto;
    top: 12%;
    color: #000;
    padding: 5px 5px;
    word-wrap: anywhere;
}
.shareLink {
    background: #fff;
    z-index: 999;
    position: absolute;
    right: 12%;
    border-radius: 4px;
    width: 30%;
    height: auto;
    top: 12%;
    color: #000;
    padding: 5px 5px;
    word-wrap: anywhere;
}
.shareLink > a{
    text-decoration: none;
}
.participantCollector > label {
    color: #000;
    padding: 6px 6px;
    display: inline-block;
    width: 100%;
}
#participantName {
    width: 93%;
    padding: 6px 6px;
    display: inline-block;
    margin: 5px;
    border-radius:4px;
}
#collectInfo {
    color: #fff;
    width: 95%;
    background-image: linear-gradient(-90deg,#f25c22 0,#f25c22 50%,#f25c22 100%);
    padding: 6px 5px;
    margin: 5px 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background: #1d1d1d;
    float: left;
    width: 100%;
}

.video-img {
    display: inline-block;
    float: left;
}

footer {
   background: #1d1d1d;
   /*background:none repeat scroll 0 0 rgba(29, 29, 29, 0.2);*/
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.video-img {
    display: inline-block;
    float: left;
}

footer ul {
    display: inline-block;
    width:100%;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding:12px 5px;
	text-align:center;
	font-size:10px;
	margin-left: 40px;
    width:50px !important;
}

footer ul li a{
	color:#fff;
	text-decoration:none;}

footer ul li span {
    display: block;
    color: #fff;
    padding-top: 4px;
}

ul.right-icons {
    display: inline-block;
    float: right;
    width: auto;
    /*margin-top: 14px;*/
    padding-right: 30px;
    position: absolute;
    right: 0;
}

ul.right-icons li {
    margin: 0 10px 0 0;
}

ul.video-icon img {
    width: 26px;
}

ul.right-icons img {
    width: 26px;
}

.video-img img {
    width: 110px;
}

.media-container {
    position: absolute;
    top: 0;
}

.media-box video {
    /*max-height: 100% !important;*/
}

.media-container {
    width: 100% !important;}
	
.participantswindow1 {
    position: absolute;
    width: 90px !important;
    left: 15px;
    z-index: 999;
    bottom: 0 !important;
    top: inherit;
}
.participantswindow1 h2 {
    bottom:1%;
    font-size:9px;
}
.participantswindow2 video{
    /*height:calc(100vh - 76px)*/
}
.participantswindow2 h2 {
    bottom:1%;
    font-size:17px;
}
.participantswindow3 {
    position: absolute;
    width: 90px !important;
    right: 50px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.participantswindow3 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow4 {
    position: absolute;
    width: 90px !important;
    right: 50px;
    z-index: 999;
    top: 200px;cursor: pointer;
}
.participantswindow4 h2 {
    bottom:1%;
    font-size:9px;
}
.participantswindow5 {
    position: absolute;
    width: 90px !important;
    right: 50px;
    z-index: 999;
    top: 280px;cursor: pointer;
}
.participantswindow5 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow6 {
    position: absolute;
    width: 90px !important;
    right: 50px;
    z-index: 999;
    top: 360px;cursor: pointer;
}
.participantswindow6 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow7 {
    position: absolute;
    width: 90px !important;
    right: 50px;
    z-index: 999;
    top: 440px;cursor: pointer;
}
.participantswindow7 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow8 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 520px;cursor: pointer;
}
.participantswindow8 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow9 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.participantswindow9 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow10 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 200px;cursor: pointer;
}
.participantswindow10 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow11 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 280px;cursor: pointer;
}
.participantswindow11 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow12 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 360px;cursor: pointer;
}
.participantswindow12 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow13 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 440px;cursor: pointer;
}
.participantswindow13 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow14 {
    position: absolute;
    width: 90px !important;
    right: 150px;
    z-index: 999;
    top: 520px;cursor: pointer;
}
.participantswindow14 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow15 {
    position: absolute;
    width: 90px !important;
    right: 250px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.participantswindow15 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow16 {
    position: absolute;
    width: 90px !important;
   right: 250px;
    z-index: 999;
    top: 200px;cursor: pointer;
}
.participantswindow16 h2 {
    bottom:1%;
    font-size:9px;
}
.participantswindow17 {
    position: absolute;
    width: 90px !important;
    right: 250px;
    z-index: 999;
    top: 280px;cursor: pointer;
}
.participantswindow17 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow18 {
    position: absolute;
    width: 90px !important;
    right: 250px;
    z-index: 999;
    top: 360px;cursor: pointer;
}
.participantswindow18 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow19 {
    position: absolute;
    width: 90px !important;
    right: 250px;
    z-index: 999;
    top: 440px;cursor: pointer;
}
.participantswindow19 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow20 {
    position: absolute;
    width: 90px !important;
    right: 250px;
    z-index: 999;
    top: 520px;cursor: pointer;
}
.participantswindow19 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow20 {
    position: absolute;
    width: 90px !important;
    right: 350px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.participantswindow20 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow21 {
    position: absolute;
    width: 90px !important;
    right: 350px;
    z-index: 999;
    top: 200px;cursor: pointer;
}
.participantswindow21 h2 {
    bottom:1%;
    font-size:9px;
}
.participantswindow22 {
    position: absolute;
    width: 90px !important;
    right: 350px;
    z-index: 999;
    top: 280px;cursor: pointer;
}
.participantswindow22 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow23 {
    position: absolute;
    width: 90px !important;
    right: 350px;
    z-index: 999;
    top: 360px;cursor: pointer;
}
.participantswindow27 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow23 {
    position: absolute;
    width: 90px !important;
    right: 350px;
    z-index: 999;
    top: 440px;cursor: pointer;
}
.participantswindow23 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow24 {
    position: absolute;
    width: 90px !important;
    right: 350px;
    z-index: 999;
    top: 520px;cursor: pointer;
}
.participantswindow24 h2 {
    bottom:1%;
    font-size:9px;
}


.participantswindow25 {
    position: absolute;
    width: 90px !important;
    right: 450px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.participantswindow25 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow26 {
    position: absolute;
    width: 90px !important;
    right: 450px;
    z-index: 999;
    top: 200px;cursor: pointer;
}
.participantswindow26 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow27 {
    position: absolute;
    width: 90px !important;
    right: 450px;
    z-index: 999;
    top: 280px;cursor: pointer;
}
.participantswindow27 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow28 {
    position: absolute;
    width: 90px !important;
    right: 450px;
    z-index: 999;
    top: 360px;cursor: pointer;
}
.participantswindow27 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow29 {
    position: absolute;
    width: 90px !important;
    right: 450px;
    z-index: 999;
    top: 440px;cursor: pointer;
}
.participantswindow27 h2 {
    bottom:1%;
    font-size:9px;
}

.participantswindow30 {
    position: absolute;
    width: 90px !important;
    right: 450px;
    z-index: 999;
    top: 520px;cursor: pointer;
}

.participantswindow31 {
    position: absolute;
    width: 90px !important;
    right: 550px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.participantswindow32 {
    position: absolute;
    width: 90px !important;
    right: 550px;
    z-index: 999;
    top: 200px;cursor: pointer;
}
.participantswindow33 {
    position: absolute;
    width: 90px !important;
    right: 550px;
    z-index: 999;
    top: 280px;cursor: pointer;
}
.participantswindow34 {
    position: absolute;
    width: 90px !important;
    right: 550px;
    z-index: 999;
    top: 360px;cursor: pointer;
}

.participantswindow35 {
    position: absolute;
    width: 90px !important;
    right: 550px;
    z-index: 999;
    top: 440px;cursor: pointer;
}

.participantswindow36 {
    position: absolute;
    width: 90px !important;
    right: 550px;
    z-index: 999;
    top: 520px;cursor: pointer;
}

.participantswindow37 {
    position: absolute;
    width: 90px !important;
    right: 650px;
    z-index: 999;
    top: 120px;cursor: pointer;
}

.participantswindow38 {
    position: absolute;
    width: 90px !important;
    right: 650px;
    z-index: 999;
    top: 200px;cursor: pointer;
}

.participantswindow39 {
    position: absolute;
    width: 90px !important;
    right: 650px;
    z-index: 999;
    top: 280px;cursor: pointer;
}

.participantswindow40 {
    position: absolute;
    width: 90px !important;
    right: 650px;
    z-index: 999;
    top: 360px;cursor: pointer;
}

.participantswindow41 {
    position: absolute;
    width: 90px !important;
    right: 650px;
    z-index: 999;
    top: 440px;cursor: pointer;
}

.participantswindow42 {
    position: absolute;
    width: 90px !important;
    right: 650px;
    z-index: 999;
    top: 520px;cursor: pointer;
}

.participantswindow43 {
    position: absolute;
    width: 90px !important;
    right: 750px;
    z-index: 999;
    top: 120px;cursor: pointer;
}

.participantswindow44 {
    position: absolute;
    width: 90px !important;
    right: 750px;
    z-index: 999;
    top: 200px;cursor: pointer;
}

.participantswindow45 {
    position: absolute;
    width: 90px !important;
    right: 750px;
    z-index: 999;
    top: 280px;cursor: pointer;
}

.participantswindow46 {
    position: absolute;
    width: 90px !important;
    right: 750px;
    z-index: 999;
    top: 360px;cursor: pointer;
}

.participantswindow47 {
    position: absolute;
    width: 90px !important;
    right: 750px;
    z-index: 999;
    top: 440px;cursor: pointer;
}


.participantswindow48 {
    position: absolute;
    width: 90px !important;
    right: 750px;
    z-index: 999;
    top: 520px;cursor: pointer;
}

.participantswindow49 {
    position: absolute;
    width: 90px !important;
    right: 850px;
    z-index: 999;
    top: 120px;cursor: pointer;
}
.closeChat {
    float: right;
    margin-top: -3px !important;
}




.chat-output {
    background: #fff;
    color: #000;
    font-size: 12px;
    margin-bottom: 5px;
	position: absolute;
    bottom: 30px;
    height: 75%;
    overflow-x: auto !important;
    width:100%;
    border-top: 1px solid #ccc;
}



div#chatWindow {
    background: #fff;
    z-index: 999;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 4px;
    width: 30%;
    height: 100%;
}
#file-container {
    padding: 5px 5px;
    height: 25% !important;
    word-wrap: anywhere;
    overflow-x: auto;
}

input#input-text-chat {
    width: 98%;
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
    bottom: 5px;
    left: 5px;
    position: absolute;
    padding: 6px;
    border-radius: 5px;
}
.share-file {
    position: absolute;
    bottom: 9px;
    right: 5px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0px 3px;
}

.chat-output div {
    margin-bottom: 5px;
    background: #f5f5f5;
	background: #f5f5f5;
    display: table;
    padding: 5px 10px;
    border-radius: 10px 0px 0 0;
    word-wrap: anywhere; !important
}

@media all and (max-width: 1353px){
.top-icons {
    width: 18%;
}		
	}
	
@media all and (max-width: 1353px){
.top-icons {
    width: 19%;
}		
	}	
	
	
@media all and (max-width: 1218px){
.online {
    width: 50%;
}

.top-icons {
    width: 20%;
}

.bg{
	background-size:cover;}		
}

@media all and (max-width: 1193px){
.mid-rt {
    width: 15%;
    float: right;
}

.logo img {
    width: 220px;
}
	}
	
	
@media all and (max-width: 1156px){
.top-icons {
    width: 21%;
}
	}	
	
@media all and (max-width: 1103px){
.top-icons {
    width: 22%;
}
	}
	
@media all and (max-width: 1055px){
.top-icons {
    width: 23%;
}


	}
	
@media all and (max-width: 1039px){
.mid-rt {
    width: 18%;
    float: right;
}
	}
	
	
@media all and (max-width: 1011px){
.top-icons {
    width: 24%;
}
	}
	
@media all and (max-width:991px){
.online {
    width: 48%;
}
	}
	
@media all and (max-width:970px){
.top-icons {
    width: 25%;
}

footer ul li {
    margin-left: 20px;
}
	}
	
@media all and (max-width:956px){
.online {
    width: 46%;
}

}

@media all and (max-width:933px){
.top-icons {
    width: 26%;
}	
	}
	
@media all and (max-width:923px){
.online {
    width: 45%;
}	
	}	
	
@media all and (max-width:899px){
.top-icons {
    width: 27%;
}

.online {
    width: 43%;
}	
	}
	
@media all and (max-width:873px){
.mid-rt {
    width: 21%;
    float: right;
}	
	}
	
@media all and (max-width:863px){
.top-icons {
    width: 28%;
}

.online {
    width: 40%;
}

.logo img {
    width: 210px;
}	
	}
	
@media all and (max-width:837px){
.top-icons {
    width: 30%;
	
}	
	}
	
@media all and (max-width:784px){
.top-icons {
    width: 26%;
	margin-top:14px;
}

.top-icons ul li {
    display: inline-block;
    margin: 0 6px;
}

.logo img {
    width: 180px;
}

.online span {
    margin: 0 10px;
    position: relative;
}

.online {
    font-size: 22px;
}	

.online span img {
    width: 30px;
}

.online span sup {
    font-size: 14px;
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 12px;
    left: 28px;
}

footer ul li {
    margin-left: 10px;
}

ul.right-icons li {
    margin: 0 10px 0 0;
    padding: 5px;
}
	}		
	
@media all and (max-width:775px){
.top-icons {
    width: 27%;
}

div#chatWindow {
    background: #fff;
    z-index: 999;
    position: absolute;
    bottom:0px;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 70%;
}	
	}
	
@media all and (max-width:754px){
.top-icons {
    width: 27%;
}	

.mid-rt {
    width: 23%;
    float: right;
}

footer ul li{
	margin-left:0;}
	}
	
@media all and (max-width:748px){
.top-icons {
    width: 28%;
}	
	}	
	
@media all and (max-width:723px){
.top-icons {
    width: 29%;
}	
	}
	
@media all and (max-width:717px){
.top-icons {
    width: 29%;
}	

footer ul {
    display: inline-block;
    width: 58%;
    text-align: center;
}
	}	
	
@media all and (max-width:699px){
footer ul li {
    font-size: 12px;
    margin-left: 0px;
}

.top-icons {
    width: 30%;
}	
	}
	
@media all and (max-width:692px){
.mid-rt {
    width: 26%;
    float: right;
}

.online span sup {
    bottom: 18px;
}	
	}
	
@media all and (max-width:683px){
footer ul {
    display: inline-block;
    width: 56%;
    text-align: center;
}	
	}	
	
@media all and (max-width:676px){
.top-icons {
    width: 31%;
}

.online {
    width: 38%;
}	
	}	
	
@media all and (max-width:657px){
.top-icons {
    width: 32%;
}

.logo img {
    width: 150px;
}	
	}	
	
@media all and (max-width:637px){	
.top-icons {
    width: 28%;
}

.online span sup {
    bottom: 12px;
    left: 26px;
}

.top-icons img {
    width: 26px;
}

.online span img {
    width: 26px;
}

footer ul li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    margin-left: 0px;
}

ul.right-icons li {
    margin: 0 5px 0 0;
    padding: 5px;
}
}

@media all and (max-width:630px){
.top-icons {
    width: 30%;
}

ul.right-icons {
    padding-right: 20px;
}	
	}	
	
@media all and (max-width:616px){
.mid-rt {
    width: 27%;
    float: right;
}	
	}	
	
@media all and (max-width:595px){
.top-icons img {
    width: 20px;
}

.top-icons {
    width: 26%;
}

.online span img {
    width: 20px;
}

.logo img {
    width: 120px;
}

.top-icons {
    margin-top: 8px;
}

.online {
    font-size: 18px;
}

.online span sup {
    bottom: 6px;
    left: 16px;
}

.mid-rt ul li img {
    width: 58px;
}

footer ul {
    display: inline-block;
    width: 52%;
    text-align: center;
}

ul.video-icon img {
    width: 20px;
}

ul.right-icons img {
    width: 20px;
}

.video-img img {
    width: 90px;
}	
	}	
	
@media all and (max-width:583px){
.top-icons {
    width: 27%;
}

	
}
	
@media all and (max-width:573px){
footer ul li {
    display: inline-block;
    padding: 10px 6px;}	
	}	
	
@media all and (max-width:563px){
.top-icons {
    width: 28%;
}	
	}
	
@media all and (max-width:544px){
.top-icons {
    width: 29%;
}	

.mid-rt ul li img {
    width: 55px;
}
	}	
	
@media all and (max-width:521px){
.top-icons {
    width: 30%;
}

.mid-rt ul li img {
    width: 50px;
}	
	}	
	
@media all and (max-width:511px){
.top-icons {
    width: 31%;
}}	

@media all and (max-width:496px){
.online {
    font-size: 16px;
}

footer ul li{
	font-size:8px;}	
	
.top-icons {
    width: 32%;
}

.top-icons ul li {
    display: inline-block;
    margin: 0 2px;
}

.top-icons {
    width: auto;
}	

.mid-rt ul li img {
    width: 30px;
}

.mid-rt {
    width: 20%;
    float: right;
}

.mid-rt ul li {
    float: left;
    margin: 0 0 5px 5px;
}

ul.video-icon img {
    width: 18px;
}

ul.right-icons img {
    width: 16px;
}

.video-img img {
    width: 80px;
}

.bg-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


	}
@media all and (max-width:481px){	
.online span sup {
    font-size: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 2px;}
	
.online span sup {
    bottom: 6px;
    left: 17px;
}	
	}
	
@media all and (max-width:466px){
ul.right-icons li {
    margin: 0 0px 0 0;
    padding: 5px;
}	

}	

@media all and (max-width:450px){
.logo img {
    width: 90px;
}

.online {
    font-size: 12px;
}

.online span img {
    width: 16px;
}

.top-icons img {
    width: 16px;
}

.top-icons {
    margin-top: 4px;
}

.online span sup {
    font-size: 8px;
    border-radius: 100%;
    border: 1px solid #fff;
    padding: 2px;
	bottom: 9px;
    left: 12px;
}

footer ul {
    display: inline-block;
    width: 58%;	
	}
	
}

@media all and (max-width:443px){

footer ul {
    display: inline-block;
    width: 56%;
}

}

@media all and (max-width:424px){
footer ul {
    display: inline-block;
    width: 54%;
}

	
	}
@media all and (max-width:406px){	
.video-img img {
    width: 60px;
}

footer ul li {
    display: inline-block;
    padding: 4px 4px;
}

footer ul li span {
    display: block;
    color: #fff;
    padding-top: 2px;
}

footer ul li {
    font-size: 7px;
}

ul.right-icons {

    margin-top: 6px;}


}

@media all and (max-width:390px){
.mid-rt ul li img {
    width: 24px;
}
ul.right-icons img {
    width: 14px;
}

ul.video-icon img {
    width: 14px;
}

ul.video-icon {
    margin-top: 3px;
}
.top-icons img {
    width: 14px;
}

.online span img {
    width: 14px;
}

footer ul li {
    font-size: 6px;
}



}

@media all and (max-width:368px){

.container {
    padding: 0 10px;
}
.online span sup {
    bottom: 10px;
}

ul.video-icon img {
    width: 12px;
}

ul.right-icons img {
    width: 12px;
}
}

@media all and (max-width:350px){
.logo img {
    width: 70px;
}	
	}
	
@media all and (max-width:320px){
.logo img {
    width: 70px;
}

.online {
    width: 42%;
}

.online {
    font-size: 10px;
}

.mid-rt ul li img {
    width: 18px;
}

.mid-rt {
    width: 16%;
    float: right;
}

.top-icons img {
    width: 12px;
}

.top-icons ul li {
    display: inline-block;
    margin: 0 1px;
}

ul.right-icons {
    padding-right: 10px;
}

ul.right-icons li {
    margin: 0 0px 0 0;
    padding: 3px;
}

ul.video-icon img {
    width: 12px;
}

ul.right-icons img {
    width: 12px;
}

footer ul li {
    display: inline-block;
    padding: 4px 2px;
}


footer {
    /* background: #1d1d1d; */
    background: none repeat scroll 0 0 rgba(29, 29, 29, 1);
}
	}	