<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-center">Create Room</h2>
        <div class="contact-form" v-if="!cloudSuccess">
          
          <hr/>
          <form action="/create-room" method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <div class="form-group">
              <label for="title">Meeting Title</label>
              <input class="form-control" id="title" name="title" type="text"  placeholder="Room Title" autocomplete="name" focus-first required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" id="password" name="password" type="password"  placeholder="Room Password (Optional)" autocomplete="name" >
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input class="form-control" id="date" name="date" type="date"  placeholder="Meeting Date" autocomplete="name" >
            </div>
            <div class="form-group">
              <label for="time">Start</label>
              <input class="form-control" id="time" name="start" type="time"  placeholder="Meeting Time" autocomplete="name">
            </div>
            <div class="form-group">
              <label for="time">End</label>
              <input class="form-control" id="end" name="end" type="time"  placeholder="Meeting End Time" autocomplete="name">
            </div>
            <div class="form-group">
              <label for="duration">Duration(in mins)</label>
              <input class="form-control" id="time" name="duration" type="duration"  placeholder="Meeting Duration For e.g 60" autocomplete="name">
            </div>
            
            <div class="form-group">
              <button type="submit" :syncing="syncing" class="btn btn-primary btn-lg btn-block">Create Room</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 class="text-center">Scheduled Meetings</h2>
        <hr>
        <div class="table-responsive">
          <table class="border table-bordered table-striped" style="width:100%">
            <thead>
              <th width="75%">Meeting Details</th>
              <th>Link</th>
              <th>Password</th>
            </thead>
            <tbody>
            <% records.forEach(function(record){ %>
              <tr>
                <td><%= record.title%><br><%= record.start%></td>
                <td><a href="<%= record.url%>" target="_blank" class="btn btn-info btn-sm">Link</a></td>
                <td><a href="javascript:;" onclick="showPwd(<%= record.id %>);" class="btn btn-warning btn-sm">Show</a><div id="pwd<%= record.id %>" style="display:none;"><%= record.password %></div></td>
              </tr>
            <% }); %>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function showPwd(id){
    if (document.getElementById('pwd'+id).style.display === 'none') {
      document.getElementById('pwd'+id).style.display = 'block';
    } else {
      document.getElementById('pwd'+id).style.display = 'none';
    }
  };
</script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
