<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      initialDate: new Date(),
      editable: true,
      navLinks: true, // can click day/week names to navigate views
      dayMaxEvents: true, // allow "more" link when too many events
      events: <%- JSON.stringify(records);%>,
    });

    calendar.render();
  });

</script>
<div id="scheduled-meetings">
  <div class="container">
    <br>
    <h1 class="text-center">Konspot Meetings</h1>
    <br>
    <div class="row">
      <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="new-meeting-tab" data-toggle="tab" href="#new-meeting" role="tab" aria-controls="new-meeting" aria-selected="true"><i class="fa fa-video-camera"></i> New Meeting</a>
                <a class="nav-item nav-link" id="join-meeting-tab" data-toggle="tab" href="#join-meeting" role="tab" aria-controls="join-meeting" aria-selected="false"><i class="fa fa-plus"></i> Join Meeting</a>
                <a class="nav-item nav-link" id="schedule-tab" data-toggle="tab" href="#schedules" role="tab" aria-controls="schedules" aria-selected="false"><i class="fa fa-calendar"></i> Schedule Meeting</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="new-meeting" role="tabpanel" aria-labelledby="new-meeting-tab">
            <div class="row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-6">
                <form action="/create-room/newmeeting" method="POST">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  <div class="form-group">
                    <label for="title">Meeting Title</label>
                    <input class="form-control" id="title" name="title" type="text"  placeholder="Room Title" autocomplete="name" focus-first required>
                  </div>
                  <div class="form-group">
                    <button type="submit" :syncing="syncing" class="btn btn-primary btn-lg btn-block">Start Meeting</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-3">&nbsp;</div>
            </div>
          </div>
          <div class="tab-pane fade" id="join-meeting" role="tabpanel" aria-labelledby="join-meeting-tab">   
            <div class="row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-6">
                <form class="" action="https://meet.teckvisor.com/meeting.html" method="get">
                  <div class="form-group">
                      <label for="room_id">Join a Meeting&nbsp;</label>
                      <input type="text" class="form-control" id="roomid" name="roomid" placeholder="Join with Konspot Room Id" required="">
                  </div>
                  <div class="form-group">
                      <label for="room_id">Password&nbsp;</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">&nbsp;
                  </div>&nbsp;
                  <button type="submit" class="btn btn-primary" style="width:100%">Join</button>
                </form>          
              </div>
              <div class="col-sm-3">&nbsp;</div>
            </div>
          </div>
          <div class="tab-pane fade" id="schedules" role="tabpanel" aria-labelledby="schedule-tab"> 
            <div class="row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-6">
                <form action="/create-room" method="POST">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  <div class="form-group">
                    <label for="title">Meeting Title</label>
                    <input class="form-control" id="title" name="title" type="text"  placeholder="Room Title" autocomplete="name" focus-first required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password"  placeholder="Room Password (Optional)" autocomplete="name" >
                  </div>
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input class="form-control" id="date" name="date" type="date"  placeholder="Meeting Date" autocomplete="name" >
                  </div>
                  <div class="form-group">
                    <label for="time">Start</label>
                    <input class="form-control" id="time" name="start" type="time"  placeholder="Meeting Time" autocomplete="name">
                  </div>
                  <div class="form-group">
                    <label for="time">End</label>
                    <input class="form-control" id="end" name="end" type="time"  placeholder="Meeting End Time" autocomplete="name">
                  </div>
                  <div class="form-group">
                    <button type="submit" :syncing="syncing" class="btn btn-primary btn-lg btn-block">Create Room</button>
                  </div>
                </form>          
              </div>
              <div class="col-sm-3">&nbsp;</div>
            </div> 
            <div class="row">
              <div class="col-sm-12">
                <h2 class="text-center">Scheduled Meetings</h2>
                <hr>
                <div class="table-responsive">
                  <table class="border table-bordered table-striped" style="width:100%">
                    <thead>
                      <th width="75%">Meeting Details</th>
                      <th>Link</th>
                      <th>Password</th>
                    </thead>
                    <tbody>
                    <% records.forEach(function(record){ %>
                      <tr>
                        <td><%= record.title%><br><%= record.start%></td>
                        <td><a href="<%= record.url%>" target="_blank" class="btn btn-info btn-sm">Link</a></td>
                        <td><a href="javascript:;" onclick="showPwd(<%= record.id %>);" class="btn btn-warning btn-sm">Show</a><div id="pwd<%= record.id %>" style="display:none;"><%= record.password %></div></td>
                      </tr>
                    <% }); %>
                    </tbody>
                  </table> 
                </div>
              </div>
            </div>         
          </div>
        </div><br>
        <div id='calendar'></div>  
      </div>
    </div>
  </div>
</div>
<br>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
